<mat-toolbar class="example-header text-center">Simple TodoList Manager - Technical test
  <mat-divider [vertical]="true"></mat-divider>
  <button (click)="openDialog()" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="container p-3 o-auto">
  <div class="row" >
    <app-todo-card class="col-3  mb-2" (eventRemove)="removeCard($event)" *ngFor="let card of cards" [card]="card">
    </app-todo-card>
  </div>
</div>
<mat-toolbar class="example-footer">Footer</mat-toolbar>

